body {
    display: flex;
    background-color: gray;
}

canvas {
    width: 20%;
    height: 20%;
    border: solid 1px;
    padding: 0;
    margin: 0;
}

#botao { 
    display:flex;
    flex-direction: column;
}
